@charset "utf-8";

// namespace root
.innerWrapper {

  // Core variables
  @import "base/variables";

  // Mixins
  @import "mixins/mixins";

  // Normalize and reset
  @import "base/normalize";
  @import "base/reset";

  // Core CSS
  @import "base/base";
  @import "base/type";

  // Components
  @import "components/share-screen";
  @import "components/discovery-screen";
  @import "components/closed-caption";
  @import "components/buttons";
  @import "components/forms";
  @import "components/scrubber-bar";
  @import "components/control-bar";
  @import "components/up-next-panel";
  @import "components/count-down-clock";
  @import "components/spinner";
  @import "components/state-screen";
  @import "components/pause-screen";
  @import "components/error-screen";
  @import "components/ad-screen";
  @import "components/ad-overlay";
  @import "components/ad-panel";
  @import "components/closed-captions-screen";
  @import "components/plugins";
  @import "components/start-screen";
  @import "components/more-options";

  // Skin
  @import "skin/default";

  // Utility classes
  @import "base/utilities";

}