.large {
  // State Screens
  .state-screen {
    .state-screen-info {
      .state-screen-title {
        font-size: 3.0em;
      }
      .state-screen-description {
        font-size: 1.8em;
      }
    }
  }

  // Discovery Screen
  .discoveryScreen {
    .discovery-panel {
      margin-top:auto;
      margin-bottom:auto;
    }
  }

  // Closed Caption Screen
  .closedCaptionsScreen{
    .language-container {
      .language-panel {
        height: 400px
      }
    }
  }

  //Error screen
  .errorScreen {
    .error-title {
      font-size: 2em;
    }
    .error-description {
      font-size: 1.4em;
    }
    .error-action {
      font-size: 1.4em;
    }
  }

  //Action Icons
  .action-icon-pause {
    font-size:32px;
  }
  .action-icon span.icon, .action-icon-pause.animate-pause {
    font-size:96px;
  }
  //Ad Panel
  .adTopBar {
     height: 34px;

    .adTitle, .adPlaybackInfo {
        font-size: 1em;
        padding-left: 7.5px;
        padding-right: 7.5px;
    }
    .learnMore {
      font-size: 1em;
      margin-right: 10px;

      .buttonIcon {
        font-size: 0.8em;
        margin-right: 5px;
      }
    }
    .skipButton {
      font-size: 1em;

      .skipIcon {
        font-size: 0.8em;
        margin-right: 5px;
      }
    }

    .skipButton.visible {
      margin-right: 15px;
      margin-left: 15px;

      .skipIcon {
        font-size: 0.8em;
        margin-right: 5px;
      }
    }
  }
}