.ooyala-large {
  // State Screens
  .state-screen {
    .state-screen-info {
      .state-screen-title {
        font-size: 3.0em;
      }
      .state-screen-description {
        font-size: 1.8em;
      }
    }
  }

  // Discovery Screen
  .discoveryScreen {
    .discovery-panel {
      padding: $panel-padding-lg;
      margin-top:auto;
      margin-bottom:auto;
      .discovery-panel-title {
        position: absolute;
      }
      .discoveryToasterContainerStyle {
        max-height: 460px;
      }
      @include apply-to-safari-only ('.discoveryToasterContainerStyle') {
        min-height: 360px;
      }

      .discoveryImageWrapperStyle {
        width: 214px;
        height: auto;
        margin: 0 60px 60px 0;

        &:nth-of-type(even) {
          margin-bottom: 0;
        }
        &:last-child, &:nth-last-child(2):nth-of-type(odd) {
          margin-right:0;
        }
      }
      .imageStyle {
        height: 120px;
      }
    }
  }

  // Closed Caption Screen
  .closedCaptionsScreen {
    .closed-captions-panel {
      padding:$panel-padding-lg;
      .closed-captions-panel-title {
        font-size: $font-size-lg-screen-title;
        span.icon {
          top: 4px;
          font-size: 1em;
        }
      }
      .switch-container {
        margin-top: 42px;
        height: 26px;
        width: 126px;
        .switch-captions {
          font-size: $font-size-base * $large-multiple;
        }
        .switch-element {
          margin-bottom: 33%;
        }
      }
    }
    .language-container {
      margin-top: 8%;
      .language-panel {
        a.item {
          width: 168px;
          font-size: 1.4em;
          margin: 17px 33px;
          padding: 3px 12px;
        }
      }
      .flexcontainer {
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
      }
      .discoverBtn {
        span.icon {
          font-size: 1.2em;
        }
      }
    }
    .preview-panel {
      padding: 14px $panel-padding-lg;
      .preview-caption {
        font-size: 1em;
        line-height:1.4em;
      }
      .preview-text {
        font-size: 1.7em;
      }
    }
  }

  //Error screen
  .errorScreen {
    .error-title {
      font-size: 2em;
    }
    .error-description {
      font-size: 1.4em;
    }
    .error-action {
      font-size: 1.4em;
    }
  }

  //Action Icons
  .action-icon-pause {
    font-size:32px;
  }
  .action-icon span.icon, .action-icon-pause.animate-pause {
    font-size:96px;
  }
  //Ad Panel
  .adTopBar {
     height: 34px;

    .adTitle, .adPlaybackInfo {
        font-size: 1em;
        padding-left: 7.5px;
        padding-right: 7.5px;
    }
    .learnMore {
      font-size: 1em;
      margin-right: 10px;

      .buttonIcon {
        font-size: 0.8em;
        margin-right: 5px;
      }
    }
    .skipButton {
      font-size: 1em;

      .skipIcon {
        font-size: 0.8em;
        margin-right: 5px;
      }
    }

    .skipButton.visible {
      margin-right: 15px;
      margin-left: 15px;

      .skipIcon {
        font-size: 0.8em;
        margin-right: 5px;
      }
    }
  }

  //Close Buttons
  button.closeBtn {
    top: $panel-padding-lg;
    right: $panel-padding-lg;
  }

  //Share Screen
  .share-screen {
    .share-container {
      padding: $panel-padding-lg;
      .tabRow {
        top: $panel-padding-lg;
        left: $panel-padding-lg;
      }
    }
  }

  //Video Quality
  .quality-screen {
    padding: $panel-padding-lg;
  }
}