.large {
  // State Screens
  .state-screen {
    .state-screen-info {
      .state-screen-title {
        font-size: 3.0em;
      }
      .state-screen-description {
        font-size: 1.8em;
      }
    }
  }

  // Closed Caption Screen
  .closedCaptionsScreen{
    .language-container {
      .language-panel {
        height: 400px
      }
    }
  }

  //Pause screen icon
  .action-icon-pause {
    font-size:32px;
  }
  .action-icon-pause.animate-pause {
    font-size:96px;
  }
}