.small {
  // State Screens
  .state-screen {
    .state-screen-info {
      .state-screen-title {
        font-size: 1em;
      }
      .state-screen-description {
        font-size: 0.6em;
      }
    }
  }

  // Discovery Screen
  .discoveryScreen {
    .discovery-panel {
      .discoveryToasterContainerStyle {
        min-height:0;
        height: 200px;
      }
    }
  }

  // Closed Caption Screen
  .closedCaptionsScreen{
    .language-container {
      .language-panel {
        min-height:0;
        height: 80px
      }
    }
  }

  //Error screen
  .errorScreen {
    .error-title {
      font-size: 1em;
      margin-bottom: 10px;
    }
    .error-description {
      font-size: 0.7em;
      margin-bottom: 10px;
    }
    .error-action {
      font-size: 0.7em;
    }
  }

  //Action Icons
  .action-icon-pause {
    font-size:12px;
  }
  .action-icon span.icon, .action-icon-pause.animate-pause {
    font-size:36px;
  }

  //Ad Panel
  .adTopBar {
     height: 17px;

    .adTitle, .adPlaybackInfo {
        font-size: 0.7em;
        padding-left: 4px;
        padding-right: 4px;
    }
    .learnMore {
      font-size: 0.7em;
      margin-right: 7px;

      .buttonIcon {
        font-size: 0.7em;
        margin-right: 3px;
      }
    }
    .skipButton {
      font-size: 0.7em;

      .skipIcon {
        font-size: 0.7em;
        margin-right: 3px;
      }
    }

    .skipButton.visible {
      margin-right: 7px;
      margin-left: 7px;

      .skipIcon {
        font-size: 0.7em;
        margin-right: 3px;
      }
    }
  }

  //Video Quality
  .quality-screen {
    padding:$panel-padding*0.7;
    .quality-panel-title {
      font-size: $font-size-sm-screen-title;
      span.icon {
        top: 1px;
        margin-left: 7px;
        font-size: 0.6em;
      }
    }
    .quality-panel {
      height:70px;
      ul {
        li {
          margin: 0 14px;
          a.quality-btn {
            padding: 8px 6px;
            font-size: 0.8em;
          }
          a.quality-auto-btn {
            .quality-auto-icon {
              font-size: 1.4em;
              padding:4px;
              margin-bottom: 0;
            }
            .quality-auto-label {
              font-size: 0.8em;
            }
          }
        }
        li.auto-li {
          top:14px;
        }
      }
    }
  }

  //Control Bar
  .controlBar {
    height: 45px;
    font-size: 13.5px;

    .controlBarItemsWrapper {
      padding-right: 6px;
      padding-left: 6px;

      .controlBarItem {
        font-size: 13.5px;
        padding: 0 6px;
        margin-top: 4.5px;
      }

      .controlBarDuration {
        font-size: 10.5px;
        padding-left: 6px;
        padding-right: 6px;
        margin-top: 4.5px;
      }

      .liveCircle {
        width: 7.5px;
        height: 7.5px;
        margin-right: 1px;
      }

      .liveText {
        font-size: 7.5px;
      }

      .watermark img {
        height: 13.5px;
        top: 10.5px;
      }
    }
  }

  .volumeBar {
    width: 4.5px;
    height: 13.5px;
    padding-right: 2.75px;
  }

  .volumeSlider {
    height: 4px;
    margin-left: 4px;
    border-radius: 1.5px;

    .volumeIndicator {
      border-radius: 1.5px;
    }

    .playheadPadding {
      width: 19px;
      height: 19px;

      .volumeHead {
        width: 6px;
        height: 6px;
        border-width: 2px;
        border-radius: 6px;
      }
    }
  }

  //Scrubber Bar
  .scrubberBarContainer {
    height: 18px;

    .scrubberBarPadding {
      left: 11px;
      right: 11px;

      .scrubberBar {
        height: 3.5px;
      }

      .playheadPadding {
        width: 19px;
        height: 19px;

        .playhead {
          width: 8px;
          height: 8px;
          border-width: 1px;
          border-radius: 8px;
        }
      }
    }
  }

  //Close Button
  button.closeBtn {
    top: $panel-padding*0.7;
    right: $panel-padding*0.7;
  }
}
