.oo-xsmall {
  // State Screens
  .oo-state-screen {
    .oo-state-screen-info {
      .oo-state-screen-title {
        font-size: 1em;
      }
      .oo-state-screen-description {
        font-size: 0.6em;
      }
    }
  }

  // Discovery Screen
  .oo-discovery-screen {
    .oo-discovery-panel {
      .oo-discovery-toaster-container-style {
        max-height: 200px;
      }
      @include apply-to-safari-only ('.oo-discovery-toaster-container-style') {
        min-height: 100px;
      }
      .oo-discovery-image-wrapper-style {
        margin-bottom: 0;

        &:nth-last-child(2) {
          margin-right:42px !important;
        }
        &:last-child {
          margin-right:0;
        }
      }

      .oo-scale-size {
        max-height: 150px;
      }
      @include apply-to-safari-only ('.oo-scale-size') {
        min-height: 80px !important;
      }
    }
  }

  // Closed Caption Screen
  .oo-closed-captions-screen {
    .oo-closed-captions-panel {
      padding:$panel-padding * $xsmall-multiple;
      .oo-closed-captions-panel-title {
        font-size: $font-size-sm-screen-title;
        span.oo-icon {
          font-size: 0.7em;
        }
      }
      .oo-switch-container {
        margin-top: 20px;
        height: 15px;
        width: 74px;
        .oo-switch-captions {
          font-size: $font-size-base * $xsmall-multiple;
        }
        .oo-switch-element {
          margin-bottom: 33%;
        }
      }
    }
    .oo-language-container {
      margin-top: 4%;
      .oo-language-panel {
        a.oo-item {
          width: 98px;
          font-size: .9em;
          margin: 10px 20px;
          padding: 3px 10px;
        }
      }
      .oo-discover-btn {
        span.oo-icon {
          font-size: 0.8em;
        }
      }
    }
    .oo-preview-panel {
      display: none;
    }
  }

  //Error screen
  .oo-error-screen {
    .oo-error-title {
      font-size: 1em;
      margin-bottom: 10px;
    }
    .oo-error-description {
      font-size: 0.7em;
      margin-bottom: 10px;
    }
    .oo-error-action {
      font-size: 0.7em;
    }
  }

  //Action Icons
  .oo-action-icon-pause {
    font-size:12px;
  }
  .oo-action-icon span.oo-icon, .oo-action-icon-pause.oo-animate-pause {
    font-size:36px;
  }

  //Ad Panel
  .oo-ad-top-bar {
     height: 17px;

    .oo-ad-title, .oo-ad-playback-info {
        font-size: 0.7em;
        padding-left: 4px;
        padding-right: 4px;
    }
    .oo-learn-more {
      font-size: 0.7em;
      margin-right: 7px;

      .oo-button-icon {
        font-size: 0.7em;
        margin-right: 3px;
      }
    }
    .oo-skip-button {
      font-size: 0.7em;

      .oo-skip-icon {
        font-size: 0.7em;
        margin-right: 3px;
      }
    }

    .oo-skip-button.oo-visible {
      margin-right: 7px;
      margin-left: 7px;

      .oo-skip-icon {
        font-size: 0.7em;
        margin-right: 3px;
      }
    }
  }

  //Video Quality
  .oo-quality-screen {
    .oo-quality-panel-title {
      font-size: $font-size-sm-screen-title;
      span.oo-icon {
        top: 1px;
        margin-left: 7px;
        font-size: 0.6em;
      }
    }

    .oo-quality-screen-content {
      height: $bitrate-horizontal-height - 25px;
      .oo-quality-panel {
        ul {
          height: $bitrate-horizontal-height - 30px;
          li {
            margin: 0 14px;
            a.oo-quality-btn {
              padding: 8px 6px;
              font-size: 0.8em;
            }
            a.oo-quality-auto-btn {
              .oo-quality-auto-icon {
                font-size: 1.4em;
                padding:4px;
                margin-bottom: 0;
              }
              .oo-quality-auto-label {
                font-size: 0.8em;
              }
            }
          }
          li.oo-auto-li {
            top:14px;
          }
        }
      }
    }
  }

  //Control Bar
  .oo-control-bar {
    height: $control-bar-height * $xsmall-multiple;
    font-size: 18px * $xsmall-multiple;

    .oo-control-bar-items-wrapper {
      .oo-control-bar-item {
        font-size: 18px * $xsmall-multiple;
        padding: 0 7.5px * $xsmall-multiple;
      }

      .oo-control-bar-duration {
        font-size: 14px * $xsmall-multiple;
        padding-left: 7.5px * $xsmall-multiple;
        padding-right: 7.5px * $xsmall-multiple;
      }

      .oo-live-circle {
        width: 10px * $xsmall-multiple;
        height: 10px * $xsmall-multiple;
        margin-right: 2px * $xsmall-multiple;
      }

      .oo-live-text {
        font-size: 10px * $xsmall-multiple;
      }

      .oo-watermark img {
        height: 18px * $xsmall-multiple;
      }
    }
  }

  //Volume Slider
  .oo-volume-bar {
    width: 6px * $xsmall-multiple;
    height: 18px * $xsmall-multiple;
    padding-left: 3px * $xsmall-multiple;
  }

  .oo-volume-slider {
    height: 20px * $xsmall-multiple;
    width: $slider-volume-width * $xsmall-multiple;
    margin-left: 6px * $xsmall-multiple;
  }

  // IE 11 only
  @media all and (-ms-high-contrast:none) {
    *::-ms-backdrop, .oo-volume-slider {
      height: 0;
    }
  }

  //Scrubber Bar
  .oo-scrubber-bar-container {
    height: 28px * $xsmall-multiple;

    .oo-scrubber-bar-padding {
      .oo-scrubber-bar {
        height: 3px * $xsmall-multiple;
      }

      .oo-playhead-padding {
        width: 25px * $xsmall-multiple;
        height: 25px * $xsmall-multiple;

        .oo-playhead {
          width: 10px * $xsmall-multiple;
          height: 10px * $xsmall-multiple;
          border-width: 1px * $xsmall-multiple;
          border-radius: 10px * $xsmall-multiple;
        }
      }
    }
  }

  //Close Buttons
  button.oo-close-btn {
    font-size: 10px;
  }

  button.oo-up-next-close-btn {
    top: 10px * $xsmall-multiple;
    right: 10px * $xsmall-multiple;
    font-size: 10px;
    @include close(-10px * $xsmall-multiple, -10px * $xsmall-multiple);
  }

  //Up Next
  .oo-up-next-panel {
    height: 80px * $xsmall-multiple;

    a.oo-up-next-content {
      width: 140px * $xsmall-multiple;

      span.oo-icon {
        font-size: 25px * $xsmall-multiple;
      }
    }
  }

  .oo-content-metadata {
    left: 140px * $xsmall-multiple;

    .oo-up-next-title {
      top: 3px * $xsmall-multiple;
      left: 15px * $xsmall-multiple;

    .oo-up-next-count-down {
      width: 36px * $xsmall-multiple;
      height: 36px * $xsmall-multiple;
    }

      .oo-up-next-title-text {
        font-size: 18pt * $xsmall-multiple;
      }
    }

    .oo-content-description {
      bottom: 5px * $xsmall-multiple;
      left: 15px * $xsmall-multiple;
      margin-top: 10px * $xsmall-multiple;
      font-size: 12pt * $xsmall-multiple;
    }
  }

  .oo-up-next-count-down {
    margin-right:10px * $xsmall-multiple;
  }

  .oo-ad-overlay.oo-control-bar-visible {
    bottom: $control-bar-height * $xsmall-multiple !important;
  }

  .oo-up-next-panel-bottom {
    bottom: $control-bar-height * $xsmall-multiple;
  }

  .oo-player-skin-plugins {
    bottom: $control-bar-height * $xsmall-multiple;
  }
  .oo-player-skin-plugins-click-layer {
    bottom: $control-bar-height * $xsmall-multiple;
  }

  //Slider
  .oo-slider-volume {
    width: #{$slider-volume-width-small};
  }

  .oo-slider-volume[type=range] {
    /*required for proper track sizing in FF*/
    width: #{$slider-volume-width-small};
  }

  .oo-slider-volume[type=range]::-webkit-slider-runnable-track {
    height: #{$slider-volume-height-small};
  }

  .oo-slider-volume[type=range]::-webkit-slider-thumb {
    height: #{$slider-volume-thumb-diameter-small};
    width: #{$slider-volume-thumb-diameter-small};
    margin-top: -($slider-volume-thumb-diameter-small - $slider-volume-height-small)/2;
  }

  //IE Edge only
  @supports (-ms-accelerator:true) {
    .oo-slider-volume[type=range]::-webkit-slider-thumb {
      margin-top: 1px;
    }
  }

  //moz
  .oo-slider-volume[type=range]::-moz-range-track {
    width: #{$slider-volume-width-small};
    height: #{$slider-volume-height-small};
  }

  .oo-slider-volume[type=range]::-moz-range-thumb {
    height: #{$slider-volume-thumb-diameter-small};
    width: #{$slider-volume-thumb-diameter-small};
  }

  //ms
  .oo-slider-volume[type=range]::-ms-track {
    width: #{$slider-volume-width-small};
    height: #{$slider-volume-height-small};
    border-width: $slider-volume-thumb-diameter-small/2 0;
  }

  .oo-slider-volume[type=range]::-ms-thumb {
    height: #{$slider-volume-thumb-diameter-small};
    width: #{$slider-volume-thumb-diameter-small};
  }

  //Text Tracks
  .oo-text-track-container {
    max-width: 96%;
    margin-bottom: 4px;

    .oo-text-track-window {
      padding: 4px;

      .oo-text-track-background {
        padding: 2px 6px;

        .oo-text-track {
          font-size: em(12px);
        }
      }
    }
  }
}