.ooyala-xsmall {
  // State Screens
  .state-screen {
    .state-screen-info {
      .state-screen-title {
        font-size: 1em;
      }
      .state-screen-description {
        font-size: 0.6em;
      }
    }
  }

  // Discovery Screen
  .discoveryScreen {
    .discovery-panel {
      .discoveryToasterContainerStyle {
        max-height: 200px;
      }
      .discoveryImageWrapperStyle {
        margin-bottom: 0;

        &:nth-last-child(2) {
          margin-right:42px;
        }
        &:last-child {
          margin-right:0;
        }
      }

      .scaleHeight {
        max-height: 150px;
      }
    }
  }

  // Closed Caption Screen
  .closedCaptionsScreen {
    .closed-captions-panel {
      padding:$panel-padding * $xsmall-multiple;
      .closed-captions-panel-title {
        font-size: $font-size-sm-screen-title;
        span.icon {
          font-size: 0.7em;
        }
      }
      .switch-container {
        margin-top: 20px;
        height: 15px;
        width: 74px;
        .switch-captions {
          font-size: $font-size-base * $xsmall-multiple;
        }
        .switch-element {
          margin-bottom: 33%;
        }
      }
    }
    .language-container {
      margin-top: 4%;
      .language-panel {
        a.item {
          width: 98px;
          font-size: .9em;
          margin: 10px 20px;
          padding: 3px 10px;
        }
      }
      .discoverBtn {
        span.icon {
          font-size: 0.8em;
        }
      }
    }
    .preview-panel {
      display: none;
    }
  }

  //Error screen
  .errorScreen {
    .error-title {
      font-size: 1em;
      margin-bottom: 10px;
    }
    .error-description {
      font-size: 0.7em;
      margin-bottom: 10px;
    }
    .error-action {
      font-size: 0.7em;
    }
  }

  //Action Icons
  .action-icon-pause {
    font-size:12px;
  }
  .action-icon span.icon, .action-icon-pause.animate-pause {
    font-size:36px;
  }

  //Ad Panel
  .adTopBar {
     height: 17px;

    .adTitle, .adPlaybackInfo {
        font-size: 0.7em;
        padding-left: 4px;
        padding-right: 4px;
    }
    .learnMore {
      font-size: 0.7em;
      margin-right: 7px;

      .buttonIcon {
        font-size: 0.7em;
        margin-right: 3px;
      }
    }
    .skipButton {
      font-size: 0.7em;

      .skipIcon {
        font-size: 0.7em;
        margin-right: 3px;
      }
    }

    .skipButton.visible {
      margin-right: 7px;
      margin-left: 7px;

      .skipIcon {
        font-size: 0.7em;
        margin-right: 3px;
      }
    }
  }

  //Video Quality
  .quality-screen {
    .quality-panel-title {
      font-size: $font-size-sm-screen-title;
      span.icon {
        top: 1px;
        margin-left: 7px;
        font-size: 0.6em;
      }
    }

    .quality-screen-content {
      height: $bitrate-horizontal-height - 25px;
      .quality-panel {
        ul {
          height: $bitrate-horizontal-height - 30px;
          li {
            margin: 0 14px;
            a.quality-btn {
              padding: 8px 6px;
              font-size: 0.8em;
            }
            a.quality-auto-btn {
              .quality-auto-icon {
                font-size: 1.4em;
                padding:4px;
                margin-bottom: 0;
              }
              .quality-auto-label {
                font-size: 0.8em;
              }
            }
          }
          li.auto-li {
            top:14px;
          }
        }
      }
    }
  }

  //Control Bar
  .control-bar-hidden {
    bottom: -1 * $control-bar-height * $xsmall-multiple;
  }
  .control-bar {
    height: $control-bar-height * $xsmall-multiple;
    font-size: 18px * $xsmall-multiple;

    .controlBarItemsWrapper {
      padding-right: 7.5px * $xsmall-multiple;
      padding-left: 7.5px * $xsmall-multiple;

      .controlBarItem {
        font-size: 18px * $xsmall-multiple;
        padding: 0 7.5px * $xsmall-multiple;
        margin-top: 6px * $xsmall-multiple;
        line-height: $control-bar-height * $xsmall-multiple;
      }

      .controlBarDuration {
        font-size: 14px * $xsmall-multiple;
        padding-left: 7.5px * $xsmall-multiple;
        padding-right: 7.5px * $xsmall-multiple;
        margin-top: 6px * $xsmall-multiple;
        line-height: $control-bar-height * $xsmall-multiple;
      }

      .liveCircle {
        width: 10px * $xsmall-multiple;
        height: 10px * $xsmall-multiple;
        margin-right: 2px * $xsmall-multiple;
      }

      .liveText {
        font-size: 10px * $xsmall-multiple;
      }

      .watermark img {
        height: 18px * $xsmall-multiple;
      }
    }
  }

  //Volume Slider
  .volumeBar {
    width: 6px * $xsmall-multiple;
    height: 18px * $xsmall-multiple;
    padding-right: 3px * $xsmall-multiple;
  }

  .volumeSlider {
    height: 20px * $xsmall-multiple;
    width: $slider-volume-width * $xsmall-multiple;
    margin-left: 6px * $xsmall-multiple;
  }

  // IE 11 only
  @media all and (-ms-high-contrast:none) {
    *::-ms-backdrop, .volumeSlider {
      height: 0px;
    }
  }

  //Scrubber Bar
  .scrubber-bar-visible {
    bottom: ($control-bar-height - $scrubber-padding-height) * $xsmall-multiple;
  }

  .scrubber-bar-hidden {
    bottom: -1 * $scrubber-padding-height * $xsmall-multiple;
  }
  .scrubberBarContainer {
    height: 24px * $xsmall-multiple;

    .scrubberBarPadding {
      left: 15px * $xsmall-multiple;
      right: 15px * $xsmall-multiple;

      .scrubberBar {
        height: 5px * $xsmall-multiple;
      }

      .playheadPadding {
        width: 25px * $xsmall-multiple;
        height: 25px * $xsmall-multiple;

        .playhead {
          width: 10px * $xsmall-multiple;
          height: 10px * $xsmall-multiple;
          border-width: 1px * $xsmall-multiple;
          border-radius: 10px * $xsmall-multiple;
        }
      }
    }
  }

  //Close Buttons
  button.closeBtn {
    font-size: 10px;
  }

  button.upNextCloseBtn {
    top: 10px * $xsmall-multiple;
    right: 10px * $xsmall-multiple;
    font-size: 10px;
    @include close(-10px * $xsmall-multiple, -10px * $xsmall-multiple);
  }

//Up Next
  .upNextPanel {
    height: 80px * $xsmall-multiple;

    a.upNextContent {
      width: 140px * $xsmall-multiple;

      span.icon {
        font-size: 25px * $xsmall-multiple;
      }
    }
  }

  .contentMetadata {
    left: 140px * $xsmall-multiple;

    .upNextTitle {
      top: 3px * $xsmall-multiple;
      left: 15px * $xsmall-multiple;

    .up-next-count-down {
      width: 36px * $xsmall-multiple;
      height: 36px * $xsmall-multiple;
    }

      .upNextTitleText {
        font-size: 18pt * $xsmall-multiple;
      }
    }

    .contentDescription {
      bottom: 5px * $xsmall-multiple;
      left: 15px * $xsmall-multiple;
      margin-top: 10px * $xsmall-multiple;
      font-size: 12pt * $xsmall-multiple;
    }
  }

  .up-next-count-down {
    margin-right:10px * $xsmall-multiple;
  }

  .adOverlay.controlBarVisible {
    bottom: $control-bar-height * $xsmall-multiple !important;
  }

  .upNextPanelBottom {
    bottom: $control-bar-height * $xsmall-multiple;
  }

  .player_skin_plugins {
    bottom: $control-bar-height * $xsmall-multiple;
  }
  .player_skin_plugins_click_layer {
    bottom: $control-bar-height * $xsmall-multiple;
  }

  //Slider
  .slider-volume {
    width: #{$slider-volume-width-small};
  }

  .slider-volume[type=range] {
    /*required for proper track sizing in FF*/
    width: #{$slider-volume-width-small};
  }

  .slider-volume[type=range]::-webkit-slider-runnable-track {
    height: #{$slider-volume-height-small};
  }

  .slider-volume[type=range]::-webkit-slider-thumb {
    height: #{$slider-volume-thumb-diameter-small};
    width: #{$slider-volume-thumb-diameter-small};
    margin-top: -($slider-volume-thumb-diameter-small - $slider-volume-height-small)/2;
  }

  //IE Edge only
  @supports (-ms-accelerator:true) {
    .slider-volume[type=range]::-webkit-slider-thumb {
      margin-top: 1px;
    }
  }

  //moz
  .slider-volume[type=range]::-moz-range-track {
    width: #{$slider-volume-width-small};
    height: #{$slider-volume-height-small};
  }

  .slider-volume[type=range]::-moz-range-thumb {
    height: #{$slider-volume-thumb-diameter-small};
    width: #{$slider-volume-thumb-diameter-small};
  }

  //ms
  .slider-volume[type=range]::-ms-track {
    width: #{$slider-volume-width-small};
    height: #{$slider-volume-height-small};
    border-width: $slider-volume-thumb-diameter-small/2 0;
  }

  .slider-volume[type=range]::-ms-thumb {
    height: #{$slider-volume-thumb-diameter-small};
    width: #{$slider-volume-thumb-diameter-small};
  }
}
