@charset "UTF-8";

@font-face {
  font-family: "alice";
  src:url("fonts/alice.eot");
  src:url("fonts/alice.eot?#iefix") format("embedded-opentype"),
    url("fonts/alice.woff") format("woff"),
    url("fonts/alice.ttf") format("truetype"),
    url("fonts/alice.svg#alice") format("svg");
  font-weight: normal;
  font-style: normal;

}
/* roboto condensed regular */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
       url(fonts/RobotoCondensed-Regular.woff2) format('woff2'),
       url(fonts/RobotoCondensed-Regular.woff) format('woff'),
       url(fonts/RobotoCondensed-Regular.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* roboto condensed bold */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'),
       url(fonts/RobotoCondensed-Bold.woff2) format('woff2'),
       url(fonts/RobotoCondensed-Bold.woff) format('woff'),
       url(fonts/RobotoCondensed-Bold.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* roboto regular */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url(fonts/Roboto-Regular.woff2) format('woff2'),
       url(fonts/Roboto-Regular.ttf) format('truetype'),
       url(fonts/Roboto-Regular.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* roboto bold */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url(fonts/Roboto-Bold.woff2) format('woff2'),
       url(fonts/Roboto-Bold.ttf) format('truetype'),
       url(fonts/Roboto-Bold.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* Open Sans regular */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'),
       url(fonts/OpenSans.woff2) format('woff2'),
       url(fonts/OpenSans.woff) format('woff'),
       url(fonts/OpenSans.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

[data-icon]:before {
  font-family: "alice" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "alice" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-volume-desktop:before {
  content: "a";
}
.icon-volume-mobile:before {
  content: "b";
}
.icon-upnext-replay:before {
  content: "c";
}
.icon-auto:before {
  content: "d";
}
.icon-close:before {
  content: "e";
}
.icon-menu:before {
  content: "f";
}
.icon-pause:before {
  content: "g";
}
.icon-play:before {
  content: "h";
}
.icon-resize-large:before {
  content: "i";
}
.icon-resize-small:before {
  content: "j";
}
.icon-topmenu-cc:before {
  content: "k";
}
.icon-topmenu-discovery:before {
  content: "l";
}
.icon-topmenu-quality:before {
  content: "m";
}
.icon-topmenu-settings:before {
  content: "n";
}
.icon-topmenu-share:before {
  content: "o";
}
.icon-ooyala:before {
  content: "q";
}
.icon-left:before {
  content: "r";
}
.icon-right:before {
  content: "s";
}
.icon-volume-mobile-mute:before {
  content: "p";
}
.icon-learn:before {
  content: "t";
}
.icon-skip:before {
  content: "u";
}
