.adScreenPanel {
  position: absolute;
  top: 0;
  bottom: 32px;
  width: 100%;

  .adTopBar {
    display: -webkit-flex;
    display: flex;
    position: absolute;
    top: 0%;
    height: 34px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    font-size: 18px;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    @include vendor-prefixes(user-select, none);
    transition: bottom 0.5s, height 0.2 5s;
    z-index: 12600;

    .adTitle, .adPlaybackInfo {
      font-size: 12pt;
      color: #ffffff;
      font-family: 'Roboto', sans-serif;
      margin: auto;
      text-align: center;
      padding-left: 7.5px;
      padding-right: 7.5px;
      white-space: pre;
    }

    .flexibleSpace {
      @include vendor-prefixes(flex, 1);
    }

    .learnMore {
      font-size: 12pt;
      font-family: 'Roboto Condensed', sans-serif;
      color: #ffffff;
      margin: auto;
      text-align: center;
      cursor: pointer;

      .buttonIcon {
        font-size: 13px;
        margin-right: 5px
      }
    }

    .learnMore.hidden {
      visibility: hidden;
    }

    .skipButton {
      font-size: 12pt;
      font-family: 'Roboto Condensed', sans-serif;
      color: #ffffff;
      visibility: hidden;
      width: 0;
      margin: auto;
      margin-left: 0;
      opacity: 0.3;
      cursor: default;

      .skipIcon {
        font-size: 13px;
        margin-right: 5px;
      }
    }

    .skipButton.visible {
      visibility: visible;
      width: initial;
      margin-left: 30px;
      margin: auto;
      margin-right: 15px;
      margin-left: 30px;
      text-align: center;
      cursor: pointer;

      .skipIcon {
        font-size: 13px;
        margin-right: 5px;
      }
    }

    .skipButton.enabled {
      opacity: 1;
      cursor: pointer;
    }
  }
}