.oo-content-screen.oo-screen-cc-ma {
  background-color: rgba(255,255,255,0);
}

.oo-cc-ma-menu {
  display: block;
  width: 100%;
  height: calc(100% - 15px);
  margin-left: -24px;
  margin-top: -24px;

  .column-left {
    display: block;
    width: 50%;
    top: 0;
    float: left;
  }

  .column-right {
    display: block;
    width: calc(50% - 24px);
    float: right;
    top: 0;
  }

  .separator {
    display: block;
    width: 2px;
    height: 100%;
    margin-left: calc(50% + 24px);
    margin-top: 60px;
    background-color: #000000;
  }
}