.control-bar-hidden {
  height: 0 !important;
}

.control-bar {
  background: $control-bar-bg;
  width: 100%;
  height: $control-bar-height;
  position: relative;
  margin: 0;
  padding: 0 15px;
  font-size: 18px;
  list-style: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: height 0.5s;
  z-index: 12500;

  .controlBarItemsWrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-flow: row nowrap;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    white-space: nowrap;

    & > * {
      line-height: 1 !important;
    }

    .popover-button-container {
      position: relative;
      height:100%;
      border:0;
      margin:0;
      padding:0;
    }

    .controlBarItem {
      height: 100%;
      font-weight: bold;
      font-size: 18px;
      text-align: center;
      padding: 0 7.5px;
      cursor: pointer;
    }

    & > .controlBarItem:first-child {
      padding-left:0 !important;
    }

    & > .controlBarItem:last-child {
      padding-right:0 !important;
    }

    button.controlBarItem {
      background-color: transparent;
      border:0;
      outline: none;
    }

    .controlBarItem.selected > span {
      color:$blue-light !important;
      opacity:1 !important;
    }

    .controlBarItem.nonClickableWatermark {
      cursor: auto;
    }

    .controlBarDuration {
      height: 100%;
      color: $white;
      opacity: 1;
      font-family: $font-family-roboto;
      font-size: 14px;
      padding-left: 7.5px;
      padding-right: 7.5px;
      text-align: left;

      .total-time {
        color: $white;

        &:before {
          content: " - ";
          color: $white;
        }
      }
    }

    .controlBarFlexSpace {
      -webkit-flex: 1;
      flex: 1;
    }

    .liveIndicator {
      line-height: 0.5;
    }

    .liveCircle {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: red;
      margin-right: 2px;
      vertical-align: middle;
    }

    .liveText {
      font-size: 10px;
      color: $gray-light;
      vertical-align: middle;
    }

    .watermark img {
      position: relative;
      max-height: 18px;
      vertical-align: baseline;
    }
  }
}
a.volumeBar {
  border:0;
  outline: none;
}

.volumeBar {
  display: inline-block;
  background-clip: content-box;
  position: relative;
  width: 6px;
  height: 18px;
  padding-left: 3px;
  background-color: rgba($white, 0.6);
}

.volumeBar.on {
  background-color: rgba($blue-light, 0.6);
}

.volume:hover .volumeBar {
  background-color: $white;
}

.volume:hover .volumeBar.on {
  background-color: $blue-light;
}

.volumeSlider {
  display: inline-block;
  position: relative;
  margin-left: 6px;
  height: 20px;
  width: $slider-volume-width;
}

// IE 11 only
@media all and (-ms-high-contrast:none) {
  *::-ms-backdrop, .volumeSlider {
    height: auto;
  }
}
