.oo-control-bar {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0 15px;
  list-style: none;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: $zindex-control-bar;
  pointer-events: auto;

  .oo-control-bar-items-wrapper {
    //display: -webkit-flex;
    //display: flex;
    //-webkit-flex-direction: row;
    //flex-direction: row;
    //flex-flow: row nowrap;
    //-webkit-align-items: center;
    //align-items: center;
    //-webkit-justify-content: center;
    //justify-content: center;
    //white-space: nowrap;
    margin-top: 10px;

    & > * {
      line-height: 1 !important;
    }

    .oo-popover-button-container {
      position: relative;
      height:100%;
      border:0;
      margin:0;
      padding:0;
    }

    .oo-control-bar-item {
      height: 100%;
      font-weight: bold;
      font-size: 23px;
      text-align: center;
      padding: 0 12.5px;
      cursor: pointer;
      opacity: 1;
    }

    & > .oo-control-bar-item:first-child {
      padding-left:0 !important;
    }

    & > .oo-control-bar-item:last-child {
      padding-right:0 !important;
    }

    a.oo-control-bar-item,
    button.oo-control-bar-item {
      background-color: transparent;
      border: 0;
      outline: none;

      // Workaround for Safari clipping text shadows
      // inside buttons
      .oo-icon {
        @include vendor-prefixes(transform, translateZ(0));
      }
    }

    .oo-control-bar-item.oo-selected > span {
      color:$blue-light !important;
      color: inherit !important;
      opacity:1 !important;
    }

    .oo-control-bar-item:focus .oo-icon {
      @include highlight-tab();
      opacity: 1 !important;
    }

    .oo-control-bar-item:hover:active .oo-icon {
      @include remove-highlight-tab();
    }

    .oo-control-bar-item.oo-focusable-btn {
      @include remove-highlight-tab();
    }

    .oo-control-bar-item.oo-mute-unmute {
      height: auto;
      padding: 0;
    }

    .oo-control-bar-item.oo-logo {
      cursor: auto;
    }

    a.oo-control-bar-item {
      display: block;
    }

    .oo-control-bar-duration {
      height: 100%;
      color: $white;
      opacity: 1;
      font-family: $font-family-roboto;
      font-size: 14px;
      padding-left: 7.5px;
      padding-right: 7.5px;
      text-align: left;
      position: relative;
      top:-2px;
      cursor: auto;
      @include vendor-prefixes(user-select, text);

      .oo-total-time {
        color: $white;

        &:before {
          content: " - ";
          color: $white;
        }
      }
    }

    .oo-control-bar-flex-space {
      -webkit-flex: 1;
      flex: 1;
    }

    .oo-live-indicator {
      top: -5px;
      position: relative;
    }

    .oo-live-circle{
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #E83F3F;
      margin-right: 4px;
      vertical-align: middle;
    }

    .oo-live-text {
      font-size: 14px;
      color: $white;
      vertical-align: middle;
    }

    .oo-logo img {
      position: relative;
      max-height: 24px;
      vertical-align: baseline;
      opacity: 0.9;
    }

    .oo-live-nonclickable {
      cursor: default;
    }
  }
}

.oo-interactive-container {
  width: 100%;

  .oo-control-bar.oo-control-bar-hidden {
    height: 0 !important;
    opacity: 0;
  }
}

.oo-control-bar-video {
  background: $control-bar-bg;
  @include vendor-prefixes (background, $control-bar-gradient);
  @include vendor-prefixes (transition, $medium-transition);
  height: $control-bar-height;
}