.control-bar-hidden {
  bottom: -1 * $control-bar-height;
}
.control-bar-visible {
  bottom: 0;
}
.control-bar {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: $control-bar-height;
  position: absolute;
  margin: 0;
  font-size: 18px;
  list-style: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: bottom 0.5s, height 0.25s;
  z-index: 12500;

  .controlBarItemsWrapper {
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding-right: 7.5px;
    padding-left: 7.5px;

    .controlBarItem {
      height: 100%;
      font-weight: bold;
      font-size: 18px;
      text-align: center;
      padding: 0 7.5px;
      margin-top: 6px;
      cursor: pointer;
      line-height: $control-bar-height;
    }

    button.controlBarItem {
      background-color: transparent;
      border:0;
      outline: none;
    }

    .controlBarItem.selected > span {
      color:$blue-light !important;
      opacity:1 !important;
    }

    .controlBarItem.nonClickableWatermark {
      cursor: auto;
    }

    .controlBarDuration {
      height: 100%;
      color: #ffffff;
      opacity: 1;
      font-family: $font-family-roboto;
      font-size: 14px;
      padding-left: 7.5px;
      padding-right: 7.5px;
      text-align: left;
      margin-top: 6px;
      line-height: $control-bar-height - 3;

      .total-time {
        color: #B3B3B3;

        &:before {
          content: " - ";
          color: $white;
        }
      }
    }

    .controlBarFlexSpace {
      -webkit-flex: 1;
      flex: 1;
    }

    .liveCircle {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: red;
      margin-right: 2px;
    }

    .liveIndicator {
      line-height: $control-bar-height - 7;
    }

    .liveText {
      font-size: 10px;
      color: $gray-light;
    }

    .watermark img {
      position: relative;
      height: 18px;
      vertical-align: baseline;
    }
  }
}
a.volumeBar {
  border:0;
  outline: none;
}

.volumeBar {
  display: inline-block;
  background-clip: content-box;
  position: relative;
  width: 6px;
  height: 18px;
  padding-right: 3px;
  background-color: rgba(255, 255, 255, 0.6);
}

.volumeBar.on {
  background-color: rgba(67, 137, 255, 0.6);
}

.volume:hover .volumeBar {
  background-color: rgba(255, 255, 255, 1);
}

.volume:hover .volumeBar.on {
  background-color: rgba(67, 137, 255, 1);
}

.volumeSlider {
  display: inline-block;
  background-clip: content-box;
  position: relative;
  background: #afafaf;
  height: 5px;
  width: 65px;
  -webkit-transform: translateY(-120%);
  transform: translateY(-120%);
  margin-left: 5px;
  border-radius: 2px;

  .volumeIndicator {
    background: #4389ff;
    height: 100%;
    width: 50%;
    position: absolute;
    border-radius: 2px;
  }

  .playheadPadding {
    width: 25px;
    height: 25px;
    position: absolute;
    z-index: 1;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);

    .volumeHead {
      background: #ffffff;
      width: 8px;
      height: 8px;
      border-style: solid;
      border-color: white;
      border-width: 1px;
      border-radius: 10px;
      position: absolute;
      transition: opacity 0.25s;
      top: 50%;
      cursor: pointer;
      left: 50%;
      -webkit-transform: translateY(-50%) translateX(-50%);
      transform: translateY(-50%) translateX(-50%);
    }
  }
}