.discoveryScreen {
  height:100%;
  width:100%;
  cursor: default;
  @include vendor-prefixes(user-select, none);

  .promo-style {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    //background-image: url('this.props.contentTree.promo_image');
  }

  .discovery-panel {
    padding: $panel-padding;
    position: absolute;
    bottom: 0;
    top: 0;
    background-color: $panel-bg;
    left: 0;
    right: 0;
    height: 100%;

    .discovery-panel-title {
      position: relative;
      line-height: 1;
      font-weight: bold;
      font-size: $font-size-md-screen-title;
      font-family: $font-family-roboto-condensed;
      color: $white;
      span.icon {
        top: 1px;
        position: relative;
        margin-left: 7px;
        font-size: 0.8em;
      }
    }
    .discoveryToasterContainerStyle {
      @include absolute-center;
      position:relative;
      background-color: transparent;
      height: auto;
      max-height: 370px;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      margin: auto;
    }
    @include apply-to-safari-only ('.discoveryToasterContainerStyle') {
      min-height: 270px;
    }

    .flexcontainer {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      -webkit-flex-flow: column wrap;
      flex-flow: column wrap;
      -webkit-align-content: center;
      align-content: center;
      overflow: visible;
    }

    .discoveryImageWrapperStyle {
      position: relative;
      width: 150px;
      height: auto;
      margin: 0 42px 42px 0;
      flex-shrink: 0;

      &:nth-of-type(even) {
        margin-bottom: 0;
      }
      &:last-child, &:nth-last-child(2):nth-of-type(odd) {
        margin-right:0
      }

      .discovery-wrapper {
        position: relative;
      }
    }

    .imageStyle {
      width: auto;
      height: 84px;
      display: block;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .discoveryContentName {
      color: $white;
      font-size: $font-size-base;
      font-family: $font-family-roboto-condensed;
      width: 100%;
      display: inline-block;
      text-transform: capitalize;
      @include text-truncate();
    }

    .discoverBtn {
      position: absolute;
      top: 50%;
      background-color: transparent;
      height: 10%;
      width: 25px;
      color: white;
    }

    .leftButton {
      @extend .discoverBtn;
      left: 0;
      text-align: right;
    }

    .rightButton {
      @extend .discoverBtn;
      right: 0;
      text-align: left;
    }

    .discoveryCountDownWrapperStyle {
      line-height:1;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

    .discoveryCountDownWrapperStyle a.discoveryCountDownIconStyle span {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      line-height: 40px;
      z-index: 10005;
      color: white;
      font-size: 25px;
      cursor: pointer
    }

    .scaleHeight {
      max-height: 250px;
      .discoveryImageWrapperStyle {
        width: 150px * $xsmall-multiple;
        margin: 0 42px * $xsmall-multiple 30px * $xsmall-multiple 0;
        &:nth-of-type(even) {
          margin-bottom: 0;
        }
        &:last-child, &:nth-last-child(2):nth-of-type(odd) {
          margin-right:0
        }
        .imageStyle {
          height: 84px * $xsmall-multiple;
        }
      }
    }
  }
}