.discoveryScreen {
  height:100%;
  width:100%;
  cursor: default;
  @include vendor-prefixes(user-select, none);

  .promo-style {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    //background-image: url('this.props.contentTree.promo_image');
  }

  .discovery-panel {
    padding: $panel-padding;
    position: absolute;
    bottom: 0;
    top: 0;
    background-color: $panel-bg;
    left: 0;
    right: 0;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    height: 100%;

    .discovery-panel-title {
      position: absolute;
      line-height: 1;
      font-weight: bold;
      font-size: $font-size-md-screen-title; //this.props.skinConfig.discoveryScreen.panelTitle.titleFont.fontSize
      font-family: $font-family-roboto-condensed; //this.props.skinConfig.discoveryScreen.panelTitle.titleFont.fontFamily
      color: $white; //this.props.skinConfig.discoveryScreen.panelTitle.titleFont.color
      span.icon {
        top: 1px;
        position: relative;
        margin-left: 7px;
        font-size: 0.8em;
      }
    }
    .discoveryToasterContainerStyle {
      background-color: transparent;
      height: 320px;
      width: 100%;
      overflow: auto;
      white-space: nowrap;
      margin: auto;
    }

    .flexcontainer {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: column wrap;
      flex-flow: column wrap;
      overflow: hidden;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
    }

    .discoveryImageWrapperStyle {
      position: relative;
      height: 84px;
      width: 150px;
      margin: 24px;
      flex-shrink: 0;
    }

    img.imageStyle {
      //position: absolute;
      width: 150px;
      height: 84px;
      display: block;
    }

    .discoveryContentName {
      color: $white;
      font-size: $font-size-base;
      font-family: $font-family-roboto-condensed;
      width: 150px;
      //height: 30px;
      display: inline-block;
      text-transform: capitalize;
      @include text-truncate();
    }

    .discoverBtn {
      position: absolute;
      top: 50%;
      background-color: transparent;
      height: 10%;
      width: 25px;
      color: white;
    }

    .leftButton {
      @extend .discoverBtn;
      left: 0;
      text-align: right;
    }

    .rightButton {
      @extend .discoverBtn;
      right: 0;
      text-align: left;
    }
    .discoveryCountDownWrapperStyle {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    .discoveryCountDownWrapperStyle a.discoveryCountDownIconStyle span {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      line-height: 40px;
      z-index: 10005;
      color: white;
      font-size: 25px;
      cursor: pointer
    }
  }
}