.oo-discovery-screen {
  height:100%;
  width:100%;
  cursor: default;
  @include vendor-prefixes(user-select, none);

  .oo-promo-style {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    //background-image: url('this.props.contentTree.promo_image');
  }

  .oo-discovery-panel {
    padding: $panel-padding;
    position: absolute;
    bottom: 0;
    top: 0;
    background-color: $panel-bg;
    left: 0;
    right: 0;
    height: 100%;

    .oo-discovery-panel-title {
      position: relative;
      line-height: 1;
      font-weight: bold;
      font-size: $font-size-md-screen-title;
      font-family: $font-family-roboto-condensed;
      color: $white;
      span.oo-icon {
        top: 1px;
        position: relative;
        margin-left: 7px;
        font-size: 0.8em;
      }
    }
    
    .oo-discovery-toaster-container-style {
      position: absolute;
      top: 50%;
      background-color: transparent;
      height: 100%;
      max-height: 370px;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      margin: auto;
      @include vendor-prefixes(transform, translateY(-25%));
    }
    @include apply-to-safari-only ('.oo-discovery-toaster-container-style') {
      min-height: 270px;
    }

    .oo-flexcontainer {
      @include flexbox();
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      -webkit-flex-flow: column wrap;
      flex-flow: column wrap;
      -webkit-align-content: center;
      align-content: center;
      overflow: visible;
    }

    .oo-discovery-image-wrapper-style {
      position: relative;
      width: 150px;
      height: auto;
      margin: 0 42px 42px 0;
      flex-shrink: 0;

      &:nth-of-type(even) {
        margin-bottom: 0;
      }
      &:last-child, &:nth-last-child(2):nth-of-type(odd) {
        margin-right:0
      }

      .oo-discovery-wrapper {
        position: relative;
      }
    }

    .oo-image-style {
      width: auto;
      height: 84px;
      display: block;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .oo-discovery-content-name {
      color: $white;
      font-size: $font-size-base;
      font-family: $font-family-roboto-condensed;
      width: 100%;
      display: inline-block;
      text-transform: capitalize;
      @include text-truncate();
    }

    .oo-discover-btn {
      position: absolute;
      top: 50%;
      background-color: transparent;
      height: 10%;
      width: 25px;
      color: white;
    }

    .oo-left-button {
      @extend .oo-discover-btn;
      left: 0;
      text-align: right;
    }

    .oo-right-button {
      @extend .oo-discover-btn;
      right: 0;
      text-align: left;
    }

    .oo-discovery-count-down-wrapper-style {
      @include absolute-center;
      line-height:1;
    }

    .oo-discovery-count-down-wrapper-style a.oo-discovery-count-down-icon-style span {
      @include absolute-center;
      line-height: 40px;
      z-index: 10005;
      color: $white;
      font-size: 25px;
      cursor: pointer
    }

    .oo-scale-size {
      max-height: 250px;
      .oo-discovery-image-wrapper-style {
        width: 150px * $xsmall-multiple;
        margin: 0 42px * $xsmall-multiple 30px * $xsmall-multiple 0;
        &:nth-of-type(even) {
          margin-bottom: 0;
        }
        &:last-child, &:nth-last-child(2):nth-of-type(odd) {
          margin-right:0
        }
        .oo-image-style {
          height: 84px * $xsmall-multiple;
        }
      }
    }
  }
}