#oo-marker-container {
  width: 100%;
  bottom: 20px;
  position: absolute;
  opacity: 0.5;
  .oo-marker-bubble {
    position: absolute;
    height: 30px;
    bottom: 6px;
    background-color: rgb(63, 134, 255);
    z-index: 1000;
    border-radius: 2px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-top-color: inherit;
      border-bottom: 0;
      margin-left: -6px;
      margin-bottom: -6px;
    }
    &.oo-marker-icon {
      width: 44px;
      height: 44px;
    }
    &.oo-marker-text {
      font-size: 13px;
      color: white;
      background-color: #000000;
      height: 18px;
      width: 70px;
      margin: 0;
      padding: 0;
      text-align: center;
      p {
        padding: 0px 2px 0px 2px;
        margin: 0;
      }
    }
  }
}