
.oo-pause-screen {
  opacity: 1;
  @include vendor-prefixes(transition, all 0.5s ease);

  .oo-text-track-container.oo-in-background {
    z-index: $zindex-background-captions;
  }
}

.oo-pause-screen.oo-pause-screen-hidden {
  opacity: 0;
  @include vendor-prefixes(transition, all 0.5s ease);
}

.oo-action-icon-pause {
  @extend .oo-center-vertical-horizontal;
  opacity: 1;
  font-size:24px;
  background: none;
  border: 0;

  span.oo-icon {
    color: #FFF;
    opacity: 1;
  }
}

.oo-action-icon-pause.oo-animate-pause {
  @extend .oo-center-vertical-horizontal;
  opacity: 0;
  font-size:72px;
  @include vendor-prefixes(transition, all 1s ease);
}
