.oo-action-icon-pause {
  @extend .oo-center-vertical-horizontal;
  opacity: 1;
  font-size:24px;
  background: none;
  border: 0;

  span.oo-icon {
    color: #FFF;
    opacity: 1;
  }
}

.oo-action-icon-pause.oo-animate-pause {
  @extend .oo-center-vertical-horizontal;
  opacity: 0;
  font-size:72px;
  //z-index: -1;
  @include vendor-prefixes(transition, all 1s ease);
}

