.player_skin_plugins {
  z-index: 12000;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
  display: none;
}

.player_skin_plugins.showing {
  display: block;
}