.oo-share-screen {
  height: 100%;
  width: 100%;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .oo-share-container {
    padding: $panel-padding;
    position: absolute;
    top: 0;
    bottom: 0;
    background: $panel-bg;
    left: 0;
    right: 0;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;

    .oo-tab-row {
      position: absolute;
      top: $panel-padding;
      left: $panel-padding;

      .oo-tab {
        display: inline-block;
        color: #afafaf;
        font-weight: bold;
        padding-right: 25px;
        &:last-child {
          flex: 1;
          -webkit-flex: 1;
          padding-left: 0;
        }
      }

      .oo-share-tab {
        @extend .oo-tab
      }
      .oo-embed-tab {
        @extend .oo-tab
      }

      .oo-active {
        color: $white;
      }
    }
  }

  .oo-share-tab-panel {
    flex: 1;
    -webkit-flex: 1;
    color: $white;
    text-align: center;

    a {
      color: inherit;
      &:hover {
        color: $white;
      }
    }

    .oo-social-action-text {
      font-family: $font-family-roboto-condensed;
      font-size: 1.2em;
      font-weight: bold;
      margin-bottom: 15px;
    }

    .oo-social-icon {
      display: inline-block;
      height: 38px;
      width: 38px;
      margin-bottom: $panel-padding/2;
      margin-right: 20px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 6px;
    }

    .oo-facebook {
      @extend .oo-social-icon;
      background-image: url("//player.ooyala.com/static/v4/stable/4.3.3/skin-plugin/assets/images/social-facebook.svg");
    }

    .oo-twitter {
      @extend .oo-social-icon;
      background-image: url("//player.ooyala.com/static/v4/stable/4.3.3/skin-plugin/assets/images/social-twitter.svg");
    }

    .oo-google-plus {
      @extend .oo-social-icon;
      background-image: url("//player.ooyala.com/static/v4/stable/4.3.3/skin-plugin/assets/images/social-google.svg");
    }

    .oo-email-share {
      @extend .oo-social-icon;
      background-image: url("//player.ooyala.com/static/v4/stable/4.3.3/skin-plugin/assets/images/social-email.svg");
      background-size: cover;
    }
  }
}