.share-screen {
  height: 100%;
  width: 100%;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .share-container {
    padding: $panel-padding;
    position: absolute;
    top: 0;
    bottom: 0;
    background: $panel-bg;
    left: 0;
    right: 0;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;

    .tabRow {
      position: absolute;
      top: $panel-padding;
      left: $panel-padding;

      .tab {
        display: inline-block;
        color: #afafaf;
        font-weight: bold;
        padding-right: 25px;
        &:last-child {
          flex: 1;
          -webkit-flex: 1;
          padding-left: 0;
        }
      }

      .shareTab {
        @extend .tab
      }
      .embedTab {
        @extend .tab
      }

      .active {
        color: $white;
      }
    }
  }

  .shareTabPanel {
    flex: 1;
    -webkit-flex: 1;
    color: $white;
    text-align: center;

    a {
      color: inherit;
      &:hover {
        color: $white;
      }
    }

    .social-action-text {
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 1.2em;
      font-weight: bold;
      margin-bottom: 15px;
    }

    .social-icon {
      display: inline-block;
      height: 38px;
      width: 38px;
      margin-bottom: $panel-padding/2;
      margin-right: 20px;
      background-size: 60px;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 6px;
    }

    .facebook {
      @extend .social-icon;
      background-image: url("assets/images/social-facebook.svg");
    }

    .twitter {
      @extend .social-icon;
      background-image: url("assets/images/social-twitter.svg");
    }

    .googlePlus {
      @extend .social-icon;
      background-image: url("assets/images/social-google.svg");
    }

    .emailShare {
      @extend .social-icon;
      background-image: url("assets/images/social-email.svg");
      background-size: cover;
    }

    input[type="url"] {
      &.form-control {
        width: 300px;
      }
    }

    input.start-at {
      width: 68px;
    }

    .form-control-label {
      text-align: right;
    }

    .form-horizontal {
      margin-top: 40px;
    }

  }
}