
.oo-skip-controls {
  $oo-skip-controls-btn-size: 1.52em;
  @include flex-center-children(row);
  @include vendor-prefixes (transition, $fade-up-transition);
  font-size: 14px;
  pointer-events: none;
  will-change: transform, opacity;

  &.oo-inactive {
    opacity: 0;
    transform: translate(-50%, -90%);
  }

  &.oo-in-background {
    opacity: 0.5;
  }

  .oo-focusable-btn {
    position: relative;
    width: $oo-skip-controls-btn-size;
    height: $oo-skip-controls-btn-size;
    margin: 0 12px;
    padding: 0;
    border: none;
    background: none;
    font-size: 1.7em;
    pointer-events: auto;
  }

  .oo-focusable-btn:disabled {
    opacity: 0.4;
  }

  .oo-icon {
    @include flex-center-children(row);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .oo-center-button .oo-icon {
    font-size: 1.4em;
  }

  .oo-btn-counter {
    @include flex-center-children(row);
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 0.2em;
    font-size: 0.55em;
    text-align: center;
    box-sizing: border-box;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }

  .oo-focusable-btn.oo-skip-backward .oo-btn-counter {
    padding-right: 0.2em;
  }

  .oo-focusable-btn.oo-skip-forward .oo-btn-counter {
    padding-left: 0.05em;
  }

}

.oo-skip-controls-centered {
  @include absolute-center;
}

.oo-control-bar-skip-controls {
  max-width: 200px;
}