.oo-state-screen-audio {
  height: 100%;

  .oo-state-screen-audio-title {
    @include vendor-prefixes (transition, $fade-up-transition);
    pointer-events: none;
    width: 100%;
    padding: 0 15px;  //same as control bar padding
    font-size: 1em;

    .oo-state-screen-audio-info {
      font-family: $font-family-roboto-condensed;
      font-weight: bold;
      resize: none;
      margin-bottom: 15px;
    }
  }
}

.oo-state-screen {
  @extend .oo-expand;
  overflow: hidden;
  cursor: default;
  @include vendor-prefixes(user-select, none);

  .oo-fading-underlay {
    @extend .oo-expand;
    background-color: #1a1a1a;
    opacity: 0;
    transition: 0.2s opacity ease-in-out;
  }
  .oo-fading-underlay-active {
    @extend .oo-expand;
    background-color: #1a1a1a;
    opacity: 0.5;
  }
  .oo-fading-underlay.oo-animate-fade {
    opacity: 0.5;
    @include vendor-prefixes(transition, all 1s ease);
  }
  .oo-underlay-gradient {
    @extend .oo-expand;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.3) 100%);
  }

  .oo-state-screen-selectable {
    @extend .oo-expand;
    text-decoration:none;
    cursor: default;
    //for IE
    background-color:white;
    opacity: 0;
    filter: alpha(opacity=1);
  }

  .oo-state-screen-poster {
    width:100%;
    top:0;
    left:0;
    background-size: cover; //set back to contain after poster attr added to video tag
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    img {
      visibility: hidden;
      width:100%;
    }
  }

  .oo-state-screen-poster-small {
    position: relative;
    width: 75%;
    height: 200px;
    top: 5%;
    left: 5%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    img {
      visibility: hidden;
      width:0;
    }
  }

  .oo-state-screen-info {
    @include vendor-prefixes (transition, $fade-up-transition);
    pointer-events: none;
    position: absolute;
    width: 100%;
    top: 5%;
    left: 5%;

    &.oo-inactive {
      opacity: 0;
      transform: translateY(-90%);
    }

    .oo-state-screen-title {
      font-size: $font-size-md-screen-title; //this.props.skinConfig.startScreen.titleFont.fontSize
      font-family: $font-family-roboto-condensed; //this.props.skinConfig.startScreen.titleFont.fontFamily
      font-weight: bold;
      max-width: 70%;
      resize: none;
      margin-bottom: 15px;
    }

    .oo-state-screen-description {
      font-size: $font-size-md-screen-desc; //this.props.skinConfig.startScreen.descriptionFont.fontSize
      font-family: $font-family-roboto-condensed; //this.props.skinConfig.startScreen.descriptionFont.fontFamily
      max-width:70%;
      clear:both;
    }
  }

  .oo-info-panel-top {
    top:5%;
  }
  .oo-info-panel-bottom {
    top:66%;
  }
  .oo-info-panel-left {
    left:5%;
  }
  .oo-info-panel-right {
    left:-3%;
  }

  button.oo-action-icon {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
  }

  .oo-action-icon {
    @extend .oo-center-vertical-horizontal;
    cursor: pointer;
    outline: none;

    span.oo-icon {
      font-size: 150px;
      opacity: 1;
      color: white;
    }
  }

  .oo-action-icon:focus {
    @include highlight-tab();
  }

  .oo-action-icon:hover:active {
    @include remove-highlight-tab();
  }

  .oo-action-icon-top {
    top:15% !important;
  }
  .oo-action-icon-bottom {
    top:80% !important;
  }
  .oo-action-icon-left {
    left:10% !important;
  }
  .oo-action-icon-right {
    left:90% !important;
  }

  .oo-interactive-container {
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    pointer-events: none;
  }
}

.oo-state-screen-vr-notification {
  position: relative;
  top: 20px;
  max-width: 90%;
  border-radius: 28px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: rgba(0,0,0,.7);
  padding: 15px 35px;
  margin: 0;
  opacity: 0;
  z-index: $vr-animated-icons;
  will-change: transform, top, opacity;
  @include vendor-prefixes(transform, translateZ(0));
  @include vendor-prefixes(animation-name, vrNotificationAnimation);
  @include vendor-prefixes(animation-duration, 5s);
  @include vendor-prefixes(animation-delay, 1s);
  &-container {
    font-family: Roboto, "Open Sans", sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    @include vendor-prefixes(justify-content, center);
  }
}

.oo-state-screen-vr {
  &-container {
    opacity: 1;
    filter: alpha(opacity=100);
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: auto;
    right: auto;
    z-index: $vr-animated-icons;
    will-change: opacity;
    @include vendor-prefixes(align-items, center);
    @include vendor-prefixes(justify-content, center);
    @include vendor-prefixes(transform, translate(-50%, -50%));
    @include vendor-prefixes(animation-name, vrIconAnimation);
    @include vendor-prefixes(animation-duration, 4s);
    @include vendor-prefixes(animation-delay, 2s);
  }
  &-bg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    background-color: rgba(0,0,0,.7);
    width: 240px;
    height: 240px;
    overflow: hidden;
    @include vendor-prefixes(align-items, center);
    @include vendor-prefixes(justify-content, center);
    @include vendor-prefixes(border-radius, 50%);
  }
  &-icon {
    position: relative;
    top: -4px;
    font-size: 149px;
    line-height: 1;
  }
}

@-webkit-keyframes vrNotificationAnimation {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  40% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  60% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  100% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}


@keyframes vrNotificationAnimation {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  40% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  60% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  100% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}

@-webkit-keyframes vrIconAnimation {
  0% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  100% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}


@keyframes vrIconAnimation {
  0% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  100% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}