.state-screen {
  @extend .expand;
  overflow: hidden;
  cursor: default;
  @include vendor-prefixes(user-select, none);

  .fading-underlay {
    @extend .expand;
    background-color: #000;
    opacity: 0;
  }
  .fading-underlay-active {
    @extend .expand;
    background-color: #000;
    opacity: 0.5;
  }
  .fading-underlay.animate-fade {
    opacity: 0.5;
    @include vendor-prefixes(transition, all 1s ease);
  }
  .underlay-gradient {
    @extend .expand;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.3) 100%);
  }

  .state-screen-selectable {
    @extend .expand;
    text-decoration:none;
    cursor: default;
    //for IE
    background-color:white;
    opacity: 0;
    filter: alpha(opacity=1);
  }

  .state-screen-poster {
    @extend .expand;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .state-screen-poster-small {
    position: relative;
    width: 75%;
    height: 200px;
    top: 5%;
    left: 5%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .state-screen-info {
    position: relative;
    width: 100%;
    top: 5%;
    left: 5%;

    .state-screen-title {
      font-size: $font-size-md-screen-title; //this.props.skinConfig.startScreen.titleFont.fontSize
      font-family: $font-family-roboto-condensed; //this.props.skinConfig.startScreen.titleFont.fontFamily
      font-weight: bold;
      max-width: 70%;
      resize: none;
      margin-bottom: 15px;
    }

    .state-screen-description {
      font-size: $font-size-md-screen-desc; //this.props.skinConfig.startScreen.descriptionFont.fontSize
      font-family: $font-family-roboto-condensed; //this.props.skinConfig.startScreen.descriptionFont.fontFamily
      max-width:70%;
      clear:both;
    }
  }

  .info-panel-top {
    top:5%;
  }
  .info-panel-bottom {
    top:66%;
  }
  .info-panel-left {
    left:5%;
  }
  .info-panel-right {
    left:-3%;
  }

  .action-icon {
    @extend .center-vertical-horizontal;
    cursor: pointer;

    span.icon {
      font-size: 72px;
      opacity: 1;
      color: white;
    }
  }

  .action-icon-top {
    top:15% !important;
  }
  .action-icon-bottom {
    top:80% !important;
  }
  .action-icon-left {
    left:10% !important;
  }
  .action-icon-right {
    left:90% !important;
  }

}