.tabs-menu {
  white-space: nowrap;
  list-style: none;
  padding: 0;
  width: 815px;
}

.tabs-menu-item {
  display: inline-block;
  float: none;
  margin-right: 40px;
}

.tabs-menu-item .tabs-menu-item-btn {
  border-bottom: 2px solid transparent;
  cursor: pointer;
  display: block;
  color: $white;
  font-family: $font-family-roboto-condensed-bold;
  font-size: 18px;
  padding: 0 1px;
  border: none;
  background-color: transparent;
  @include vendor-prefixes (transition, 0.3s);
}

.tabs-menu-item.is-active .tabs-menu-item-btn {
  border-bottom: 2px solid $blue-light;
}

.tabs-menu-item:not(.is-active) .tabs-menu-item-btn:hover {
  color:$blue-light;
  opacity: 0.7;
}

.tab-panel {
  height: 100%;
  padding: 10px 0;
}

.tabs-navigation {
  width: 100%;
  margin: 0 auto;
  padding: 2px 2px 0 2px;
  overflow-x: scroll;
  padding-bottom: 1000%;
  position: relative;

  //override default scrollbar style
  .scrollarea-content{
    display: inline-block;
  }

  //hide horizontal scrollbars
  .scrollbar-container.horizontal {
    display:none;
  }

  .oo-scrollarea-tabs {
    ul {
      display: inline-block;
      padding:0;
      margin:0 auto;
      list-style: none;
      white-space:nowrap;
      position: relative;

      li {
        float:none;
        position:relative;
        display:inline-block;
        margin: 0 24px;

        &:first-child {
          margin-left:0 !important;
        }

        &:last-child {
          //margin-right:0 !important;
        }
      }

      li.oo-auto-li {
        top:20px;
      }
    }
  }
}

.oo-left-tab-button {
  display: none;
  @include vendor-prefixes(user-select, none);
}

.oo-right-tab-button {
  display: none;
  @include vendor-prefixes(user-select, none);
}
