.oo-text-track-container {
  @include horizontal-center;
  position: relative;
  display: inline-block;
  max-width: 80%;
  margin: 0 auto 12px auto;

  .oo-text-track-window {
    padding: 10px;
    border-radius: 8px;

    .oo-text-track-background {
      padding: 4px 16px;
      border-radius: 8px;

      .oo-text-track {
        text-align: center;
        white-space: pre-wrap;
      }
    }
  }

  //Text Color
  .oo-text-track-text-color-White {
    color: white;
  }
  .oo-text-track-text-color-Blue {
    color: blue;
  }
  .oo-text-track-text-color-Magenta {
    color: magenta;
  }
  .oo-text-track-text-color-Green {
    color: green;
  }
  .oo-text-track-text-color-Yellow {
    color: yellow;
  }
  .oo-text-track-text-color-Red {
    color: red;
  }
  .oo-text-track-text-color-Cyan {
    color: cyan;
  }
  .oo-text-track-text-color-Black {
    color: black;
  }

  //Font Type
  .oo-text-track-font-type-Helvetica {
    font-family: Arial, Helvetica, sans-serif;
  }
  .oo-text-track-font-type-Georgia {
    font-family: Georgia, serif;
  }
  .oo-text-track-font-type-Comic-Sans {
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
  .oo-text-track-font-type-Impact {
    font-family: Impact, Charcoal, sans-serif;
  }
  .oo-text-track-font-type-Times-New-Roman {
    font-family: "Times New Roman", Times, serif;
  }
  .oo-text-track-font-type-Tahoma {
    font-family: Tahoma, Geneva, sans-serif;
  }
  .oo-text-track-font-type-Verdana {
    font-family: Verdana, Geneva, sans-serif;
  }
  .oo-text-track-font-type-Courier-New {
    font-family: "Courier New", Courier, monospace;
  }
  .oo-text-track-font-type-Lucida-Console {
    font-family: "Lucida Console", Monaco, monospace;
  }

    //Font Size
  .oo-text-track-font-size-Small {
    font-size: 16px;
  }
  .oo-text-track-font-size-Medium {
    font-size: 26px;
  }
  .oo-text-track-font-size-Large {
    font-size: 44px;
  }
  .oo-text-track-font-size-Extra-Large {
    font-size: 64px;
  }

  //Window Color
  .oo-text-track-window-color-White {
    background-color: white;
  }
  .oo-text-track-window-color-Blue {
    background-color: blue;
  }
  .oo-text-track-window-color-Magenta {
    background-color: magenta;
  }
  .oo-text-track-window-color-Green {
    background-color: green;
  }
  .oo-text-track-window-color-Yellow {
    background-color: yellow;
  }
  .oo-text-track-window-color-Red {
    background-color: red;
  }
  .oo-text-track-window-color-Cyan {
    background-color: cyan;
  }
  .oo-text-track-window-color-Black {
    background-color: black;
  }
  .oo-text-track-window-color-Transparent {
    background-color: transparent;
  }

  //Background Color
  .oo-text-track-background-color-White {
    background-color: white;
  }
  .oo-text-track-background-color-Blue {
    background-color: blue;
  }
  .oo-text-track-background-color-Magenta {
    background-color: magenta;
  }
  .oo-text-track-background-color-Green {
    background-color: green;
  }
  .oo-text-track-background-color-Yellow {
    background-color: yellow;
  }
  .oo-text-track-background-color-Red {
    background-color: red;
  }
  .oo-text-track-background-color-Cyan {
    background-color: cyan;
  }
  .oo-text-track-background-color-Black {
    background-color: black;
  }
  .oo-text-track-background-color-Transparent {
    background-color: transparent;
  }
}