.upNextPanel {
  position: absolute;
  width: 100%;
  height: 80px;
  right: 0;
  bottom: 0;
  background-color: rgba(22, 22, 22, 0.9);
  transition: bottom 0.5s;
  
  a.upNextContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 100%;
    cursor: pointer;
    
    img.contentImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    max-width:100%;
    max-height:100%;
    width: auto;
    height: auto;
    }
    
    span.icon {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 25px;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      opacity: 1;
      color: white;
      transition: opacity .25s ease-in-out;
    }
  }


}

.upNextPanelBottom {
  bottom:$control-bar-height;
}

.contentMetadata {
  position: absolute;
  top: 0;
  left: 140px;
  width: 78%;
  height: 100%;
  
  .upNextTitle {
    position: absolute;
    display: flex;
    top: 3px;
    left: 15px;
    width: 100%;
    color: #FFFFFF;

    .up-next-count-down {
      width: 36px;
      height: 36px;
      float: left;
    }

    .upNextTitleText {
      font-size: 18pt;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: bold;
      max-width: 70%;
      color: inherit;
      resize: none;
      display: inline-block;
      float: left;
    }
  }
  
  .contentDescription {
    position: absolute;
    bottom: 5px;
    left: 15px;
    width: 70%;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 12pt;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
  }
}