//full screen
.oo-quality-screen {
  padding: $panel-padding;
  background-color: $panel-bg;

  .oo-quality-panel-title {
    line-height: 1;
    font-weight: bold;
    font-size: $font-size-md-screen-title;
    font-family: $font-family-roboto-condensed;
    color: $white;
    span.oo-icon {
      top: 1px;
      position: relative;
      margin-left: 7px;
      font-size: 0.8em;
    }
  }

  .oo-quality-screen-content {
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: $bitrate-horizontal-height;
    text-align: center;
    //max-width: 95%;

    //override default scrollbar style
    .scrollarea-content{
      display: inline-block;
    }

    //hide horizontal scrollbars
    .scrollbar-container.horizontal {
      display:none;
    }

    .oo-quality-panel {
      ul {
        display: inline-block;
        padding:0;
        margin:0 auto;
        list-style: none;
        white-space:nowrap;
        position: relative;
        height: $bitrate-horizontal-height - 10px;

        li {
          float:none;
          position:relative;
          display:inline-block;
          margin: 0 24px;

          &:first-child {
            margin-left:0 !important;
          }

          &:last-child {
            margin-right:0 !important;
          }

          //vid quality btns - full screen
          a.oo-quality-btn {
            padding: 10px 8px;
            background-color: transparent;
            color: $white;
            font-size: 1.1em;
            font-family: $font-family-roboto;
            line-height:1em;
            border-radius: 2px;
            border: 1px solid $gray;
            outline: none;
            opacity:1;
            @include vendor-prefixes(transition, opacity 0.3s ease);

            &:hover {
              opacity:0.6;
            }

            &.oo-selected {
              color: $blue-light;
              border-color: $blue-light;
              //border-width: 2px;
              font-weight: bold;
            }
          }

          //auto quality btn - full screen
          a.oo-quality-auto-btn {
            background-color: transparent;
            font-family: $font-family-roboto;
            line-height:1;
            outline: none;

            &:hover {
              .oo-quality-auto-icon, .oo-quality-auto-label {
                opacity:0.6;
                @include vendor-prefixes(transition, opacity 0.3s ease);
              }
            }

            &.oo-selected {
              .oo-quality-auto-icon, .oo-quality-auto-label {
                color: $blue-light;
                font-weight:bold;
              }
            }

            .oo-quality-auto-icon {
              font-size: 2.1em;
              font-weight:bold;
              color: $gray;
              margin-bottom: 6px;
              opacity:1;
            }

            .oo-quality-auto-label {
              color:$white;
              font-size: 0.9em;
              text-transform: capitalize;
              text-align: center;
              opacity:1;
            }
          }
        }

        li.oo-auto-li {
          top:20px;
        }
      }
    }
  }
}

//mobile, fullscreen, portrait
@media (orientation: portrait) {
  .oo-mobile-fullscreen {
    .oo-quality-screen-content {
      height: 80% !important;
      width: 100px !important;

      .oo-scrollarea-content{
        display: block !important;
      }

      .oo-quality-panel {
        position: relative;
        text-align: center;
        ul {
          padding: 0;
          margin: 0;
          list-style: none;
          height: 75% !important;
          white-space: normal;

          li {
            display: block;
            margin: 0 0 30px 0 !important;
            padding: 0;
            list-style: none;

            &:last-child {
              margin-bottom: 10px;
            }
          }

          li.oo-auto-li {
            top:4px !important;
          }
        }
      }
    }
  }
}

//micro state
.oo-quality-popover {
  position: absolute;
  background-color: $popover-bg;
  bottom: $control-bar-height + 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 10px;
  border: 0;
  border-radius: 4px;
  padding: 10px 12px;
  max-height: 150px;
  width:90px;
  @include horizontal-center;

  //override default scrollbar style
  .scrollbar-container.vertical {
    padding-top: 6px !important;
  }

  .oo-quality-panel {
    position: relative;
    text-align: center;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        display: block;
        margin: 0 0 6px 0;
        padding:0;

        &:last-child {
          margin-bottom: 10px;
        }

        //vid quality btns - popover
        a.oo-quality-btn {
          background-color: transparent;
          color: $white;
          font-size: 0.6em;
          font-family: $font-family-roboto;
          line-height:1;
          outline: none;
          opacity:1;
          white-space:nowrap;
          @include vendor-prefixes(transition, opacity 0.3s ease);

          &:hover {
            opacity:0.6;
          }

          &.oo-selected {
            color: $blue-light;
            font-weight: bold;
            font-size:0.6em + em(2px);
          }
        }

        // auto btn - popover
        a.oo-quality-auto-btn {
          background-color: transparent;
          font-family: $font-family-roboto;
          line-height:1;
          outline: none;
          white-space:nowrap;

          &:hover {
            .oo-quality-auto-icon, .oo-quality-auto-label {
              @include vendor-prefixes(transition, opacity 0.3s ease);
              opacity:0.6;
            }
          }

          &.oo-selected {
            .oo-quality-auto-icon, .oo-quality-auto-label {
              color: $blue-light;
              font-weight:bold;
            }
            .oo-quality-auto-icon {
              font-size: 1em + em(2px);
            }
            .oo-quality-auto-label {
              font-size: 0.5em + em(2px);
            }
          }

          .oo-quality-auto-icon {
            font-size: 1em;
            font-weight:bold;
            color: $gray;
            margin-bottom: 2px;
            opacity:1;
          }

          .oo-quality-auto-label {
            color:$white;
            font-size: 0.5em;
            text-transform: capitalize;
            text-align: center;
            opacity:1;
          }
        }
      }
    }
  }
}