.oo-alt-end-screen {

  background-size: cover;
  background-position: center;
  a {
    color: inherit;
    &:link {text-decoration: none;}
    &:visited {text-decoration: none;}
    &:hover {text-decoration: none;}
    &:active {text-decoration: none;}
  }

  .oo-alt-previous {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 30%;
    height: auto;

    .oo-alt-prev-promo {
      position: relative;
    }

    .oo-alt-prev-title {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      text-align: center;
    }

    .oo-alt-prev-replay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      font-weight: bold;
    }

    .oo-alt-prev-replay-text {
      font-weight: bold;
      margin-left: 5px;
      cursor: pointer;
    }

    .oo-alt-prev-twitter {
      margin-top: 2px;
      margin-right: 10px;
      padding-right: 10px;
      border-radius: 10px;
      background-color: #55acee;
      display: inline-block;
      height: 30px;
      cursor: pointer;

      &:before {
        background-image: url('/assets/images/twitter_logo.png');
        background-size: 30px 30px;
        display: inline-block;
        vertical-align: middle;
        width: 30px;
        height: 30px;
        margin-left: 2px;
        margin-right: 2px;
        content:"";
      }
    }

    .oo-alt-prev-facebook {
      margin-top: 2px;
      margin-right: 10px;
      padding-right: 10px;
      border-radius: 10px;
      background-color: #3b5998;
      display: inline-block;
      height: 30px;
      cursor: pointer;

    &:before {
        background-image: url('/assets/images/facebook_logo.png');
        background-size: 20px 20px;
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        margin-left: 2px;
        margin-right: 2px;
        content:"";
      }
    }

    .oo-alt-prev-buttontext {
      vertical-align: middle;
      font-weight: bold;
    }

    .oo-alt-prev-link {
      margin-top: 2px;
      margin-right: 10px;
      border-radius: 10px;
      background-color: gray;
      display: inline-block;
      height: 30px;
      cursor: pointer;

      &:before {
        background-image: url('/assets/images/link.png');
        background-size: 20px 20px;
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        margin-left: 10px;
        content:"";
      }
    }

    img {
      width: 100%;
    }
  }

  .oo-alt-next-panel {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: bold;

    .oo-alt-next-countdown, .oo-alt-next-info {
      display: inline-block;
    }
  }

  .oo-alt-autoplay {
    position: absolute;
    top: 25px;
    right: 70px;
    font-weight: bold;

    .oo-alt-autoplay-switch {
      border-radius: 5px;
      width:80px;
      height:20px;
      background-color: gray;

      .oo-alt-autoplay-indicator {
        position:absolute;
        border-radius: 5px;
        width: 40px;
        height:20px;
        left: 0;
        background-color: white;
        transition: all 0.25s;
      }

      .oo-alt-autoplay-indicator.off {
        left: auto;
        margin-left: 50%;
      }
    }
  }

  .oo-alt-autoplay-text {
    position: absolute;
    top: 45px;
    right: 40px;
    font-weight: bold;

    &:before {
      content: "ON";
    }
  }

  .oo-alt-autoplay-text.off {
    right: 35px;
    &:before {
      content: "OFF";
    }
  }

}