.oo-vr-icon {
  &--move {
    position: absolute;
    height: $vr-controls-move;
    width: $vr-controls-move;
    cursor: pointer;
    outline: none;
    &--left {
      top: 33%;
      left: 5%;
      bottom: auto;
      right: auto;
    }
    &--right {
      top: 33%;
      left: auto;
      bottom: auto;
      right: 20%;
    }
    &--up {
      top: 5%;
      left: 33%;
      bottom: auto;
      right: auto;
    }
    &--down {
      top: auto;
      left: 33%;
      bottom: 20%;
      right: auto;
    }
  }
  &-container {
    position: absolute;
    display: block;
    top: 5%;
    left: calc(95% - 15px);
    width: $vr-controls-substrate;
    height: $vr-controls-substrate;
    background-position: 0 0;
    background-size: 100% 100%;
    opacity: 1;
    z-index: $zindex-vr-controls;
    @include vendor-prefixes (transition, opacity .3s ease-in-out);
    &--hidden {
      opacity: 0;
    }
  }
  &--type {
    display: block;
    width: 23px;
    height: 17px;
    background-position: 0 0;
    background-size: 100% 100%;
    &--stereoOn {
      -webkit-filter: drop-shadow(-1px 1px 4px rgba(255,255,255,.7));
      filter: drop-shadow(-1px 1px 4px rgba(255,255,255,.7));
    }
    &--stereoOff {}
  }

  &--substrate {
    position: absolute;
    display: block;
    left: calc(#{$vr-substrate-diff} * -0.5);
    top: calc(#{$vr-substrate-diff} * -0.5);
    opacity: 0.3;
    color: #000000;
    font-size: $vr-controls-substrate;
    line-height: normal;
    //transform-origin: 50% 50%;
    //transform: rotate(45deg);
    @include vendor-prefixes (transition, opacity .3s ease-in-out);
    &--hidden {
      opacity: 0;
    }
  }

  &--icon-symbol {
    position: absolute;
    display: block;
    opacity: 1;
    font-size: $vr-controls-size;
    line-height: normal;
    @include vendor-prefixes (transition, opacity .3s ease-in-out);
    &--hidden {
      opacity: 0;
    }
  }
}
.oo-video-type {
  @include vendor-prefixes (transition, all .3s ease-in-out);
  &:hover,
  &:active,
  &:focus {
    .oo-vr-icon--type {
      -webkit-filter: drop-shadow(-1px 1px 4px rgba(255, 255, 255, .7));
      filter: drop-shadow(-1px 1px 4px rgba(255, 255, 255, .7));
    }
  }
}